:root {
  font-family: 'Poppins', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bold {
  font-weight: bold;
}

.gray {
  color: gray;
}

section {
  padding: 20px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main {
  width: 550px;
  background-color: white;
  border-radius: 10px;
}

.main nav {
  display: flex;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.1);
}

.main nav img {
  margin: 20px 30px;
}

.hero--body {
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  margin: 24px;
}
.hero--image {
  align-self: center;
}

.hero--h1 {
  margin: 32px 0 0 12px;
}

.hero--paragraph {
  max-width: 320px;
  margin-left: 12px;
}

.cards-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}

.card--body {
  position: relative;
  width: 175px;
  color: black;
  font-size: 12px;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
}

.card--body p {
  margin: 0;
}

.card--image {
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
}

.card--stats {
  display: flex;
  align-items: center;
}

.card--star {
  height: 14px;
}

.card--price {
  margin-top: auto;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}